@{
    ViewBag.Title = "About";
}
<div class="secondary">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        This example site was created using ASP.Net MVC 4 using Visual Studio 2017 as an IDE. The pages use Razor for rendering and
        the content is primarily dynamic content provided via Reddit's API. The pages is hosted via Azure and the source control is maintained on GitHub.
    </p>
</div>