@{
    ViewBag.Title = "Contact";
}

<div class="secondary">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <strong>Social Media Links:</strong> <a href="https://linktr.ee/cesavage">Link Tree</a>
    </address>

    <address>
        <strong>Email me at:</strong> <a href="charles.smith@elive.com">charles.smith@live.com</a><br />
    </address>
</div>