@{
    ViewBag.Title = "Home Page";
}

@model CodeBeautify.Welcome7


<div class="jumbotron">
    <h1>Charlie's Fly Fishing</h1>
    <p class="lead">Welcome to Charlie's Fly Fishing
       Here is useful fly fishing and fly tying information that I've gathered from across the world - enjoy!
    </p>
</div>

<div id="postContainer">
    <ul>
        @foreach (var item in Model.Posts)
        {
        <li class="postList">
            <a href="@item.Url">
                
                @{ 
                     if (item.Thumbnail.PurpleUri != null)
                     {
                       <img src="@item.Thumbnail.PurpleUri" />
                     }
                     else
                     {
                       <img height="140" width="140" src="~/Content//images/royal-coachman.jpg"/>
                     }
                 }
                <div class="postText">@item.Title</div>
            </a>
        </li>
        }
    </ul>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Beginner Resources</h2>
         <p>ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and gives you full control over markupfor enjoyable, agile development.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Travel and Accomodations</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Related Sites</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>